<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="layouts/main-layout :: main-fragment(~{::title},~{}, ~{::#about-header}, ~{::#about-main-content}, ~{::#about-footer})"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title of About page</title>
  </head>
  <body>
    <!-- <div id="about-header">Header of About page</div> -->
    <div id="about-main-content">Content of About page</div>
    <!-- <div id="about-footer" th:insert="fragments/app-fragments ::footer('imnddat')"></div> -->
  </body>
</html>
