<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="main-fragment(title,otherStaticResource,header,mainContent,footer)">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:replace="${title}">Document</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <th:block th:replace="${otherStaticResource}">

    </th:block>
  </head>
  <body>
    <div class="header" th:insert="${header}?:~{}">Header</div>
    <div class="main">
      <div class="main__nav">
        <div class="main__nav--link"><a href="/">Home</a></div>
        <div class="main__nav--link"><a href="/products">Products</a></div>
        <div class="main__nav--link"><a href="/about">About</a></div>
      </div>
      <div class="main__content" th:insert="${mainContent}?:~{}">Content</div>
    </div>
    <div class="footer" th:insert="${footer}?:~{fragments/app-fragments ::footer('imnddat')}">&copy; imnddat</div>
  </body>
</html>
