<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .done{
            color: #ccc;
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <h1>Todo App</h1>
    <form th:action="@{/add-todo}" method="post">
        <input name="title"/>
        <input type="submit" value="Add"/>
    </form>

    <table>
        <tr th:each="todo : ${listTodos}">
            <td th:class="${todo.completed?'done':''}" th:text="${todo.title}"></td>
            <td><a th:href="@{'/complete-todo?id='+${todo.id}}" th:text="${todo.completed?'Inprogress':'Done'}"></a></td>
            <td><a th:href="@{'/delete-todo?id='+${todo.id}}">Delete</a></td>
        </tr>
        
    </table>
</body>
</html>